html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
  font-family: Passion One, Arial, sans-serif;
  font-size: 60px;
  color: white;
}

h2 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
}

.header {
  padding: 0px;
  padding-left: 50px;
  background-color: #368F36;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cover_thumbnail {
  height: 100px;
}

.book_profile_image {
  width: 272px;
  height: 418px;
}